{% extends "base.html" %}

{% block index_menu_class %} class="active"{% endblock %}

{% block main_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

      <h1>Contact form</h1>
      <p>Form here
<form action="{% url 'contact_page' %}" method="POST">
{% csrf_token %}
{{ form }}
<br />
<input type="submit" />
</form>

      </p>
{% endblock main_content %}
