{% extends "my_courses.html" %}


{% block main_content %}
      <h2>Основы Python</h2>

  <div class="span12">
    <br />
    <h3>Темы занятий</h3>
    <br />
    <table class="table table-condensed">
          <tr>
            <td width="80px" class="muted">
              11 Февраля
            </td>
            <td>1. Основы Python</td>
          </tr>
          <tr>
            <td class="muted">
              14 Февраля
            </td>
            <td>2. Модульность и библиотеки</td>
          </tr>
          <tr>
            <td class="muted">
              18 Февраля
            </td>
            <td>3. Основы Web</td>
          </tr>
          <tr>
            <td class="muted">
              21 Февраля
            </td>
            <td>4. Структура Web приложения</td>
          </tr>
          <tr>
            <td class="muted">
              25 Февраля
            </td>
            <td>5. Классы и ООП</td>
          </tr>
          <tr>
            <td class="muted">
              28 Февраля
            </td>
            <td>6. REST API</td>
          </tr>
          <tr>
            <td class="muted">
              4 Марта
            </td>
            <td>7. Батарейки для Flask</td>
          </tr>
          <tr>
            <td class="muted">
              7 Марта
            </td>
            <td>8. Деплоймент</td>
          </tr>

          <tr>
            <td class="muted">
              11 Марта
            </td>
            <td>9. Django first steps</td>
          </tr>

          <tr>
            <td class="muted">
              14 Марта
            </td>
            <td>10. Стадии обработки HTTP запроса</td>
          </tr>
          <tr>
            <td class="muted">
              18 Марта
            </td>
            <td>11. ORM, signals</td>
          </tr>

          <tr>
            <td class="muted">
              21 Марта
            </td>
            <td>12. Работа с формами. Advanced Templates</td>
          </tr>
          <tr>
            <td class="muted">
              25 Марта
            </td>
            <td>13. Реализация стандартных задач</td>
          </tr>

          <tr>
            <td class="muted">
              28 Марта
            </td>
            <td>14. Батарейки (готовые решения)</td>
          </tr>
          <tr>
            <td class="muted">
              1 Апреля
            </td>
            <td>15. Средства отладки и тестирование</td>
          </tr>

          <tr>
            <td class="muted">
              4 Апреля
            </td>
            <td>16. Technical Debt and Bug Fixing</td>
          </tr>

        </table>

    </div>

{% endblock main_content %}
