{% extends "groups.html" %}


{% block main_content %}

      <h2>{{ group.name }}</h2>
      <p>{{ group.description }}</p>

<div>

<div class="pagination">
    <span class="step-links">
      <a href="?page=1">first</a>
        {% if students.has_previous %}
            <a href="?page={{ students.previous_page_number }}">previous</a>
        {% endif %}


        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}.
        </span>

        {% if students.has_next %}
            <a href="?page={{ students.next_page_number }}">next</a>
        {% endif %}
        <a href="?page={{ students.paginator.num_pages }}">last</a>
    </span>
</div>

  <ul>

    {% for student in students %}
    <li><a href="{% url 'student_item' student.id %}">
      {{ forloop.counter }}. {{ student.first_name }} {{ student.last_name }}</a>
      {% if user.is_superuser %}
      <a href="{% url 'student_edit' student.id %}"><span class="icon-edit"></span></a>
      {% endif %}
    </li>
    {% endfor %}
    {% if user.is_superuser %}
    <li>Add new <a href="{% url 'student_create' %}"><span class="icon-plus"></span></a></li>
    {% endif %}
  </ul>
</div>

{% endblock main_content %}

