{% extends "groups.html" %}


{% block main_content %}

      <h2>Группа 1. Осень 2012, web. (10)</h2>
      <p><h3><a href="#">Список активных курсов</a></h3></p>

<div>
  <ul>
    <li><a href="/student/item/">1. Студент 1</a></li>
    <li><a href="/student/item/">2. Студент 2</a></li>
    <li><a href="/student/item/">3. Студент 3</a></li>
    <li><a href="/student/item/">4. Студент 4</a></li>
    <li><a href="/student/item/">5. Студент 5</a></li>
    <li><a href="/student/item/">...</a></li>
  </ul>
</div>

{% endblock main_content %}

