{% extends "base.html" %}

{% block my_cources_menu_class %} class="active"{% endblock %}

{% block main_content %}
      <h2><a href="/my_courses/course_item/">Основы Python </a></h2>
      <p>Базовое описание курса.<br> Агрегирующая информация о количестве занятий и направлености курса.</p>

      <h2><a href="/my_courses/course_item/">Python stdlib</a></h2>
      <p>Базовое описание курса.<br> Агрегирующая информация о количестве занятий и направлености курса.</p>

      <h2><a href="/my_courses/course_item/">Web with python</a></h2>
      <p>Базовое описание курса.<br> Агрегирующая информация о количестве занятий и направлености курса.</p>

{% endblock main_content %}
