{% extends "group_item.html" %}
{% load comments %}


{% block main_content %}

<h2>{{ student.first_name }} {{ student.last_name }}
    {% if user.is_superuser %}
    <a href="{% url 'student_edit' student.id %}"><span class="icon-edit"></span></a>
    {% endif %}
</h2>

<h3>Контакты:</h3>
<div>
  <ul>
    <li>skype: {{ student.skype }}</li>
    <li>email: {{ student.email }}</li>
    <li>github: {{ student.github }}</li>
    <li>phone: {{ student.phone }}</li>
  </ul>
</div>

{% get_comment_list for student as comment_list %}
<div>
{% for comment in comment_list %}
<p>{{ comment.user_name }}: {{ comment.comment }}
</p>
{% endfor %}
</div>

{% get_comment_form for student as form %}
{% include "comments/form.html" %}


{% endblock main_content %}

